
* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #b6b1b1;
}
.logo_container {
  margin-left: 5px;
}
.txc_home {
  height: 30px;
}

img{
  height: 25px;
  margin-left: 5px ;
  
}
.navbar {
  background-color: #ffffff;
  height: 37px;
  padding: 0.5rem 3.5rem;
  
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
}

.nav-item {
  margin: 0 10px;
  transition: transform 0.1s ease-in-out;
}

.nav-link {
  color: #333333;
  text-decoration: none;
}
.nav-link:hover{
  color: #f36;
  transform: scale(1.1); /* Increase size on hover */
  border-bottom: 1px solid #f36 ;
}


.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 100px;
  z-index: 1;
  
}

.dropdown-menu.show {
  display:block; /* Show dropdown menu when toggled */
  margin-right: 5px;
}
.dropdown-item:hover{
  color: #f36;
}
 
.container{
  border-radius: 8px;
}

.resultflash{
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top:0;
  left:50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333333;
  /* border: 1px solid #333; */
  border-radius: 1px rgba(0,0,0,0.2);
  visibility: hidden;
  transition: transform 0.4s, top o.4s;
}

.open-Result{
  visibility:visible;
  top:50%;
  transform: translate(-50%,-50%) scale(1);
}
.resultflash img{
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border-radius: 50%;
  /* box-shadow: 0 1px rgba(0,0,0, 0.2); */
}
.resultflash h3{
  font-size: 38px;
  font-weight: 500;
  margin: 30px;
}
.resultflash button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline:none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}